body {
    background-color: #5d2e00;
}

* {
    margin: 0;
    padding: 0;
}

#logos {
    color: #a40095;
}

#logos:hover {
    color: white;
}


img {
    border-radius: 10px;
}
.logofinal {
    margin-left: 0px;
    width: auto;
    height: 80%;
}

#logo_instagram{
    font-size: 40px;
    margin-right: 20px;
}
#logo_facebook{
    font-size: 40px;
    margin-right: 20px;
}
#logo_whatsapp{
    font-size: 40px;
    margin-right: 20px;
}

#logo_facebook2 {
    font-size: 40px;
    margin-right: 20px;
    color: black;
}

#logo_instagram2{
    font-size: 40px;
    margin-right: 20px;
    color: black;
}

.caja8 {
    margin-top: 300px;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgba(57,57,55,255);
    align-items: center;
}

.caja8 .usuario{
    display: inline-block;    
}

.caja8 .usuario a{
    color: black;
}

.caja8_1{
    height: 100%;
    width: 50%;
}
.caja8_3{    
    width: 50%;
    text-align: right;
}
.usuario1{
    margin: 15%;
}

.logofinal{
    height: 100%;
}


#logo_facebook2:hover {
    color: white;
}

#logo_instagram2:hover{
    color: white;
}


.texto1 {
    color: white;
    display: inline-block;
    font-size: 40px;    
    margin-bottom: 10px;
    border-radius: 10px;
}

.texto5 {
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 10px;
    background-color: blue;
    border-radius: 10px;
    padding-right: 50px;
    padding-left: 50px;

}

#texto1 {
    background-color: #49a6ea;
    padding-right: 50px;
    padding-left: 50px;
}
.texto_navidad{
    color: white;
    display: inline-block;
    font-size: 40px;    
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #137e00;
    padding-right: 50px;
    padding-left: 50px;
}
.texto_halloween{
    color: black;
    display: inline-block;
    font-size: 40px;    
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #d85804;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 200px;

}

#texto2 {
    background-color: #ff3d3d;
    padding-right: 50px;
    padding-left: 50px;
}
#texto3 {
    width: auto;
    height: auto;
    font-size: 40px;
}
#texto4 {
    background-color: #2967ff;
    padding-right: 50px;
    padding-left: 50px;
}

.caja1 {
    display: inline-block;
    background-image: linear-gradient(to left, red, white, red);
    margin: 0;
    border-radius: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

.caja2 {
    margin-top: 300px;
}

.caja_contenedora1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.caja_borde{
    padding: 5px;
    border-top: 7px solid red;
    border-bottom: 7px solid red;
    
    /*border-bottom: 2px solid black;
    border-top: 5px dotted white;
    border-bottom: 5px dotted white;
    */

}

.parrafo {
    font-size: 10px;
    color: black;
    margin-left: 60px;
}

.parrafo2 {
    font-size: 25px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.parrafo3 {
    font-size: 25px;
    color: white;
    margin-top: 40px;
}
.parrafo4 {
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}
.parrafo5 {
    font-size: 25px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
.parrafo6 {
    font-size: 25px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.parrafo7 {
    color: white;
}
#parrafo7 {
    margin-bottom: 100px;
}

.parrafo8 {
    width: 450px;
    display: flex;
    text-align: center;
    font-size: 30px;
    margin-left: 25px;
    color: white;
}

.parrafo_navidad{
    color: white;
    font-size: 35px;
    display: block;
    margin-bottom: 50px;
}

.contenedor1 {
    display: inline-block;
}
.contenedor2 {
    display: inline-block;
}

.cuadro52{
    display: none;
}

.cuadro1 {
    display: block;
    height: 300px;
    width: auto;
}
.cuadro2 {
    display: block;
    width: 350px;
    height: auto;
}
.cuadro3 {
    display: block;
    height: 300px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}


.cuadro4 {
    margin: 10px;
    height: 400px;
    width: auto;
}
.cuadro5{
    height: 620px;
    width: auto;
}

.cuadro51 {
    width: auto;
    height: 618px;
}

.cuadro8 {
    width: 400px;
    height: auto;
}

.cuadro9 {
    display: inline-block;
    height: 500px;
    width: 390px;
}
.cuadro9 img {
    width: auto;
    height: 100%;


}

.foto_navidad1{
    margin-right: 20px;
    width: 400px;
    height: auto;
}
.foto_navidad2{
    margin-left: 20px;
    width: 400px;
    height: auto;
}

.foto_halooween1{
    margin-right: 20px;
    width: 400px;
    height: auto;
}
.foto_halooween2{
    margin-left: 20px;
    width: 400px;
    height: auto;
}
.polo6 {
    display: inline-block;
    height: 583.5px;
    width: auto;
}

.fa-brands {
    font-size: 40px;
    margin-right: 20px;
}

/*Slider fram (slider automatico)----------------------------------------------------------------------------------*/


.slider-frame {
    display: inline-block;
    width: 386px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: slide 7s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/*Slider frame 2(slider automatico)----------------------------------------------------------------------------------*/

.slider-frame2 {
    display: inline-block;
    width: 420px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
}

.slider-frame2 ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: slide 7s infinite alternate ease-in-out;
}

.slider-frame2 li {
    width: 100%;
    list-style: none;
}

.slider-frame2 img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*Slider frame 3*/



.slider-frame3 {
    display: inline-block;
    width: 300px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
}

.slider-frame3 ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: slide 7s infinite alternate ease-in-out;
}

.slider-frame3 li {
    width: 100%;
    list-style: none;
}

.slider-frame3 img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*----------------------------------------slider 4------------------------------------*/
/*Slider frame 4*/



.slider-frame4 {
    display: inline-block;
    width: 400px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
    margin-bottom: 40px;
}

.slider-frame4 ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: slide 7s infinite alternate ease-in-out;
}

.slider-frame4 li {
    width: 100%;
    list-style: none;
}

.slider-frame4 img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*Slider fram 5 (slider automatico)----------------------------------------------------------------------------------*/


.slider-frame5 {
    display: inline-block;
    width: 500px;
    height: auto;
    margin:0px auto 0;
    overflow: hidden;
}

.slider-frame5 ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: slide 6s infinite alternate ease-in-out;
}

.slider-frame5 li {
    width: 100%;
    list-style: none;
}

.slider-frame5 img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*------------------------------------------Hover----------------------------------*/
.contenedor_hover{
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .contenedor_hover figure{
       position:relative;
        height: auto;
        cursor: pointer;
        width: auto;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .contenedor_hover figure img{
        width: 100%;
        height: auto;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenedor_hover figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .contenedor_hover figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .contenedor_hover figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .contenedor_hover figure:hover > img{
        transform: scale(1.3);
    }
    .contenedor_hover figure .capa h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .contenedor_hover figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }

/*sdwdw*/
a {
    color: inherit;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: #000000cc;
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*encabezado compañero*/
.contenidosoporte {
    text-align: center;
    width: auto;
    height: auto;
    font-size: 20px;
}
.container-principal{
    padding: 0;
    margin: 0 auto;
}
.container{
    background-color: #5a422a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    
    font-size: 40px;
    font-family: 'poppings';
}

.logo1 {
    margin-top: 50px;
}

.empresa{
    text-decoration: none;
    color: black;
}

.empresa:hover {
    color: white;
}

.soporte{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.soporte .fa-phone{
    font-size: 20px;
}
.barra-navegadora{
    background-color: black;
}
.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
.navegador .fa-bars{
    display: none;
}
.menu{
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 40px;
    display: flex;
    gap: 2rem;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    position: relative;
}
.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: white;
    position:absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all .3s ease;
}
.menu a:hover::after{
    opacity: 1;
}
.menu a:hover{
    color: white;
}
.busqueda{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 2rem;
    background-color: white;
    height: 2.8rem;
    overflow: hidden;
}
.busqueda input{
    margin: 10px;
    outline: none;
    font-family: 'poppings';
    border: none;
    width: 400px;
    font-size: 1.4rem;
    padding: 0px 25px;
    cursor: pointer;
}
.busqueda input::-webkit-search-cancel-button{
    appearance: none;
}
.botonbusqueda{
    border: none;
    background-color: rgba(50, 10,10,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    color: white;
}


/*-------------------------------------------------responsive-------------------------------------------*/
@media (max-width:500px) {

    body {        
        width: 100%;
    }
    .logo1 {
        height: auto;
        width: 100%;
    }

    .contenedor1 {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 70%;        
    }

    .soporte {
        display: none;
    }

    .contenedor_hover {
        width: 80%;
        height: auto;
    }

    .slider-frame5{
        width: 80%;
    }

    .slider-frame3{
        width: 80%;
    }
    .slider-frame2{
        width: 80%;
    }
    .slider-frame4{
        width: 80%;
    }
    .slider-frame{
        width: 80%;
    }

    .cuadro1 {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .cuadro2 {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .cuadro3 {
        display: block;
        width: 70%;
        height: auto;
        margin-top: 10px;
    }

    #cuadro3 {
        display: none;
    }

    .cuadro4 {
        display: block;
        width: 85%;
        height: auto;
        margin-top: 10px;
    }

    .cuadro5 {
        display: block;
        width: 70%;
        height: auto;
        margin-top: 10px;
    }

    .cuadro8{
        display: block;
        width: 70%;
        height: auto;
        margin-top: 10px;
    }

    .cuadro9 {
        width: auto;
        height: auto;
    }

    #cuadro9 {
        display: block;
        width: 70%;
        height: auto;
        margin-top: 10px;
    }
    
    .cuadro10 {
        display: block;
        width: 70%;
        height: auto;
        margin-top: 10px;
    }
    
    .cuadro51 {
        display: none;
    }

    .cuadro52 {
        width: 70%;
        display: block;
    }


    .texto1 {
        font-size: 25px;
    }

    .logo {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 26px;
    }
    .menu {
        padding: 0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .empresa{
        text-decoration: underline;
        font-size: 25px;
    }
    #logos_redes {
        font-size: 80px;
    }
    .container_logo {
        padding: 0;
        margin: 0;
    }
    #logos{
        font-size: 25px;
        color: #a40095;
    }
    

    .parrafo1 {
        font-size: 25px;
    }
    .parrafo2 {
        font-size: 15px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .parrafo3 {
        font-size: 15px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .parrafo4 {
        font-size: 15px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .parrafo5 {
        font-size: 15px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .parrafo6 {
        font-size: 15px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .polo6 {
        width: 70%;
        height: auto;
    }

    .caja8 {
        margin-top: 300px;
        display: flex;
        width: 100%;
        height: 100px;
        background-color: rgba(57,57,55,255);
        align-items: center;
    }
    .caja8 .usuario{
        margin-left: 70px;
    }

    .logofinal {
        margin-left: 0px;
        width: auto;
        height: 100%;
    }
    .parrafo8 {
        display: none;
    }
    #logo_facebook2 {
        font-size: 35px;
    }
    #logo_instagram2 {
        font-size: 35px;
    }
    #logo_facebook{
        font-size: 25px;
        color: #a40095;
    }

    #logo_instagram{
        font-size: 25px;
        color: #a40095;
    }

    #logo_whatsapp{
        font-size: 25px;
        color: #a40095;
    }


    .foto_navidad1{
        width: 250px;
        height: auto;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .foto_navidad2{
        width: 250px;
        height: auto;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;        
    }
    .foto_halooween1{
        width: 250px;
        height: auto;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .foto_halooween2{
        width: 250px;
        height: auto;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

}

